<label>Search</label>
<input ng-class="classes1" ng-init="myval='Enter your name here'" type="text" ng-model="myval">

<h3>Search results</h3>
<div class="list-group">
	<!-- FOLLOWING ARE 4 WAYS TO BRING IN TEMPLATES FROM A DIRECTIVE -->

	<div search-result person-object="person"></div>
	<div class="search-result" person-object="person">*These results may be invalid</div>
	<search-result person-object="person"></search-result>
	<!--
  <a href="#" class="list-group-item">
    <h4 class="list-group-item-heading">Sandhu, Amar</h4>
    <p class="list-group-item-text">
	 	3979 escala cv, Oceanside, CA. 92058 
	 </p>
  </a>
	<a href="#" class="list-group-item">
    <h4 class="list-group-item-heading">Sandhu, Amar</h4>
    <p class="list-group-item-text">
	 	3979 escala cv, Oceanside, CA. 92058 
	 </p>
  </a>
	<a href="#" class="list-group-item">
    <h4 class="list-group-item-heading">Sandhu, Amar</h4>
    <p class="list-group-item-text">
	 	3979 escala cv, Oceanside, CA. 92058 
	 </p>
  </a>
	<a href="#" class="list-group-item">
    <h4 class="list-group-item-heading">Sandhu, Amar</h4>
    <p class="list-group-item-text">
	 	3979 escala cv, Oceanside, CA. 92058 
	 </p>
  </a>
-->
</div>