<form name="form1" ng-controller="form1Controller">
	<input type="text" ng-model="toCity" name="toCity" ng-required="true" ng-maxlength=15 ng-trim=true placeholder="to city"> <span ng-show="form1.toCity.$touched && form1.toCity.$invalid">Enter a valid to city name</span>
	<br>
	<input type="text" ng-model="fromCity" name="fromCity" ng-required="true" placeholder="from city"> <span ng-show="form1.fromCity.$touched && form1.fromCity.$invalid">Enter a valid from city name</span>
	<br>
	<input type="date" ng-model="toDate" name="toDate" ng-required="true" placeholder="to date"> <span ng-show="form1.toDate.$touched && form1.toDate.$invalid">Enter a valid to date</span>
	<br>
	<input type="date" ng-model="fromDate" name="fromDate" ng-required="true" placeholder="from date"> <span ng-show="form1.fromDate.$touched && form1.fromDate.$invalid">Enter a valid from date</span>
	<br>
	<input type="email" ng-model="email" name="email" ng-required="true" placeholder="email"> <span ng-show="form1.email.$touched && form1.email.$invalid">Enter a valid email</span>
	<br>
	<br>


	<button type="submit" ng-click="sendData()">Submit to see form2 changed</button>
	<br>
	<br>

	<div>to city valid: {{form1.toCity.$valid}}</div>
	<div>email error: {{form1.email.$error}}</div>
</form>